extends layout

block content
  head
    title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style().
      .dropdown-menu a:hover {background-color: #f1f1f1}

      .dropdown:hover .dropdown-menu {
          display: block;
      }

      .dropdown:hover .dropbtn {
          background-color: #3e8e41;
      }
      #productpicture:hover{
      opacity:0.8;
      }



  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='/') TripKart
          img(src='images/tripkart.jpg' alt="nothing" )
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav                                                
            li
              a(href='#' hidden)
                
                span.sr-only (current)
            li
              a(href='/' ) Home
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Products 
                span.caret
              ul.dropdown-menu
                li
                  a(href='/book') Books
                li
                  a(href='/footwear') Footwear
                li
                  a(href='/clothes') Clothing
                //- li.divider(role='separator')
                //- li
                //-   a(href='#') Separated link
                //- li.divider(role='separator')
                //- li
                //-   a(href='#') One more separated link
          form.navbar-form.navbar-left(action='/search', method='post', accept-charset='utf-8')
            .form-group
              input.form-control(type='text', placeholder='Enter Product Name' name='search')
            &nbsp;&nbsp;
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Login
            li
              a(href='/cart') Cart
        // /.navbar-collapse
      // /.container-fluid
    .rows
      .col-md-2.col-sm-2.col-xs-5
        h2 filter
        form.form-inline(action='/sortbook', method='post', accept-charset='utf-8')
          .form-group
            label.col-xs-3.control-label Select Category
            br
          .form-group
              
                select.form-control(name='category')
                  option(value='') Choose
                  option(value='drama')  Drama 
                  option(value='thriller')  Thriller 
                  option(value='autobiography') Autobiography
          button(type='submit')  submit
        br
        br
        div(data-wrid='WRID-148524709979713972', data-widgettype='productBanner', data-class='affiliateAdsByFlipkart', height='240px', width='175px')
        script(async='', src='//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js')
        br
        br
        div(data-wrid='WRID-148524717766471109', data-widgettype='productBanner', data-class='affiliateAdsByFlipkart', height='240px', width='120px')
        script(async='', src='//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js')

      .col-md-10.col-sm-10.col-xs-7
        h2 books
        .rows
            if items && items.length>0
              each item in items
               .col-md-3
                .panel.panel-default
                  .panel-body
                    img(src='#{item.pic}' alt='nothing' width='150' height='200' id="productpicture")
                  .panel-footer
                    a(href='/showproduct/#{item.id}') Show
                    &nbsp;&nbsp;
                    a(href='#{item.flipkartlink}' target="_blank") Open on Flipkart
                    h4  Price Rs. #{item.price}

            else
              h3 no records
  p .
  nav.navbar.navbar-default
      .container
        .rows
          .col-md-4.col-sm-12
            h3 Shop
            ul.navbar-nav(style="list-style-type:none")
              li
                a(href='/') Home
              br
              li
                a(href='/footwear') Footwear
              br
              li
                a(href='/clothes') Clothes
              br
              li
                a(href='/books') Books

          .col-md-4.col-sm-12
            h3(style='font-family: verdana') Get in touch with Us
            h3 Location
            p| Gomti Nagar <br> Lucknow, 226010
          .col-md-4.col-sm-12
           form(action='/subscribe', method='post', accept-charset='utf-8')
            .form-group
              h3 Subscribe
            .rows
             .col-md-10
              .form-group
               input.form-control(type='email', placeholder='Enter Email' name='subscribe' )

             .col-md-2          
               button.btn.btn-default(type='submit') Submit
